@import "./base.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: var(--vt-f-white);
  place-items: center;
}

#app {
  /* margin: auto; */
  font-weight: normal;
  max-width: 100%;
  width: 1728px;
}
